@import './assets/css/sb-admin-2.css';
@import './assets/scss/sb-admin-2.scss'; 
@import './assets/vendor/fontawesome-free/scss/fontawesome.scss';
@import './assets/vendor/fontawesome-free/scss/regular.scss';
@import './assets/vendor/fontawesome-free/scss/solid.scss';


#content-wrapper{
   background: rgb(255, 255, 255) !important;
}

 .rounded-border-5 {
    border-radius: 5px; 
 }
 .rounded-border-10 {
    border-radius: 10px; 
 }  
 .rounded-border-20 {
    border-radius: 20px; 
 }
 .rounded-border-30 {
    border-radius: 30px; 
 }


 
@media (min-width: 320px) {
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
	.home-container {
		padding-left: 1rem;
		padding-right: 1rem;
	}
   .plan-details {      
      width: 430px; 
  }
}
@media (min-width: 480px) {
	/* smartphones, Android phones, landscape iPhone */
	.home-container {
		padding-left: 2rem;
		padding-right: 2rem;
	}
   .plan-details {      
      width: 430px; 
  }
}
@media (min-width: 600px) {
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
	 .home-container {
		padding-left: 6rem;
		padding-right: 6rem;
	}
   .plan-details {      
      width: 430px;
  }
}
@media (min-width: 801px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	.home-container {
		padding-left: 15rem;
		padding-right: 15rem;
	}
   .plan-details {      
      width: 430px;
  }
} 
@media (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */
	.home-container {
		padding-left: 26rem;
		padding-right: 26rem;
	}
   .plan-details {      
      width: 430px;
  }
}
@media (min-width: 1366px) {
	/* hi-res laptops and desktops */
	.home-container {
		padding-left: 30rem;
    	padding-right: 30rem;
	}
   .plan-details {      
      width: 430px;
  }
}
@media (min-width: 1920px) {
	/* hi-res laptops and desktops */
	.home-container {
		padding-left: 45rem;
		padding-right: 45rem;
	}
   .plan-details {      
      width: 430px;
  }
}  