@import './assets/css/sb-admin-2.css';
@import './assets/scss/sb-admin-2.scss'; 
@import './assets/vendor/fontawesome-free/scss/fontawesome.scss';
@import './assets/vendor/fontawesome-free/scss/regular.scss';
@import './assets/vendor/fontawesome-free/scss/solid.scss';


#content-wrapper{
   background: rgb(255, 255, 255) !important;
}

 .rounded-border-5 {
    border-radius: 5px; 
 }
 .rounded-border-10 {
    border-radius: 10px; 
 }  
 .rounded-border-20 {
    border-radius: 20px; 
 }
 .rounded-border-30 {
    border-radius: 30px; 
 }