<div class="horizontal-scroll-wrapper squares">
    <div *ngFor="let item of weekDays" [ngClass]="{'active': item ==selectedDay}" (click)="selectday(item)">
        <span>{{item}}</span>
    </div>
</div>
<div class="plan-details">
    <div *ngFor="let item of planData">
        <!-- <i class='bx bxs-time-five'></i> -->
        <div class="header">
            <span>{{item.time | Convert24To12 |
                uppercase}} {{item.time | MealName}}

            </span>
            <span title="check for different dish" class="refresh" (click)="alternate(item.objectId)">
                <i class='bx bx-refresh'></i>
            </span>
        </div>
        <div class="dishes">
            <ng-container *ngIf="item.objectId != altmeal.objectId">
                <div class="items" *ngFor="let dish of item.dishes">
                    <div class="icon">
                        <i class='bx bx-bowl-hot'></i>
                    </div>
                    <div class="dish">
                        &nbsp; {{dish.name}}
                        | {{dish.unit}}
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="item.objectId === altmeal.objectId">
             
                <div class="items" *ngFor="let altdish of altmeal.mealdata[altmeal.mealcount]">
                    <div class="icon">
                        <i class='bx bx-bowl-hot'></i>
                    </div>
                    <div class="dish">

                        &nbsp; {{altdish.name}}
                        | {{altdish.unit}}
                    </div>
                </div>
            </ng-container>

        </div>
        <!-- <span>{{item.time | Convert24To12 |
            uppercase}} {{item.time | MealName}}
           
        </span> -->

    </div>


</div>